.popupOverlay {
    z-index: var(--popup-overlay-z-index);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup {
    border: 1px solid var(--fourth-layer-background-color);
    border-top: 0;
    width: 50vw;
    padding: 1rem 3rem;
    background-color: var(--first-layer-background-color);
    margin: auto;
    transition-duration: 0.35s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "message message"
        "cancel confirm";
    border-radius: 0 0 1rem 1rem;
}

.popupMessage {
    display: block;
    grid-area: message;
    justify-self: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.popup button {
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
    transition-duration: 0.25s;
    margin: 0.5rem 0;
}

.popupCancelButton {
    grid-area: cancel;
    border: 1px solid var(--fourth-layer-background-color);
    background-color: var(--insignificant-button-color);
}

.popupConfirmButton {
    grid-area: confirm;
    border: 1px solid var(--fourth-layer-background-color);
    background-color: var(--significant-button-color);
}

.popupCancelButton:hover {
    background-color: var(--insignificant-button-hover-color);
}

.popupConfirmButton:hover {
    background-color: var(--significant-button-hover-color);
}