.fullscreen {
    width: calc(100vw);
    height: calc(100vh);
}

.landing nav {
    position: absolute;
    width: 100%;
    top: 0;
    height: 50px;
    box-sizing: border-box;
    background-color: var(--first-layer-background-color);
    padding: 0 1rem;
    box-shadow: 0 1rem 15rem 2rem var(--fourth-layer-background-color);
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-items: center;
}

.landing nav h3 {
    margin: 0 1rem;
    height: inherit;
}

.landing header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: inherit;
}

.landing header li {
    height: inherit;
    transition-duration: 0.25s;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
}

.landingWelcomeSection {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

.landingWelcomeContainer {
    grid-row: 2;
}

.landingWelcomeSection h1 {
    font-size: 4.5rem;
    text-align: center;
    justify-self: stretch;
}

.landingWelcomeSection p {
    text-align: center;
    font-size: 1.5rem;
    width: 65%;
    margin: 1rem auto;
}

.landingWelcomePlayDuckcodeButtonWrapper {
    width: fit-content;
    padding: 0.5rem;
    justify-self: center;
    margin: 3rem auto;
    border-radius: 0.75rem;
    color: var(--foreground);
    display: flex;
    background-color: var(--significant-button-hover-heavier-color);
}

.landingWelcomePlayDuckcodeButton {
    background-color: var(--first-layer-background-color);
    border: none;
    font-size: 3rem;
    padding: 1rem 4rem;
    transition-duration: 0.25s;
    font-weight: 600;
    border-radius: 0.5rem;
}

.landingWelcomePlayDuckcodeButtonWrapper:hover {
    animation: illuminating-border 1s linear infinite;
}

/* Link is an anchor ('a') element */
.landingWelcomePlayDuckcodeButtonWrapper:hover a {
    background-color: var(--significant-button-hover-color);
}

.landing footer {
    background-color: var(--first-layer-background-color);
    /* border-bottom: 10px solid white; */
}

.landing footer ul {
    list-style-type: none;
    display: flex;
    width: max(50vw, 500px);
    margin: 1rem auto;
    justify-content: space-around;
    padding: 1rem 0;
}

.landing footer a {
    transition-duration: 0.25s;
}

.landing footer a:hover {
    color: var(--font-colour-hover);
}

.landing footer p {
    text-align: center;
}