.tooltip {
    overflow: hidden;
    box-sizing: border-box;
}

label.authInputLabel {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    color: #aaa;
}

label.authInputLabel input {
    border: 2px solid #888;
}

label.authInputLabel input:focus {
    outline: none;
}

label button.showPasswordButton {
    padding: 0.25rem;
    height: fit-content;
    font-family: var(--code-fragment-font);
    width: max-content;
    background-color: var(--insignificant-button-color);
    border: 2px var(--fourth-layer-background-color) solid;
    border-radius: 0.25rem;
    transition-duration: 0.25s;
}

label button.showPasswordButton:hover {
    background-color: var(--insignificant-button-hover-color);
}