/* for dropdown inputs */
.dropdownInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
}

.dropdownInput p {
    display: block;
    align-self: center;
}

.dropdownInput input {
    width: 100%;
    padding: 0.5rem;
    font-family: var(--code-fragment-font);
    background-color: var(--terminal-like-background-color);
    border: 2px solid var(--third-layer-background-color);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.dropdownInput label {
    position: relative;
}

.dropdownInput ul {
    list-style-type: none;
    position: absolute;
    width: 100%;
    transition-duration: 0.3s;
    z-index: calc(var(--settings-z-index) + 1);
}

.dropdownInput ul::-webkit-scrollbar {
    width: 2px;
}

.dropdownInput ul::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1000px;
}

.dropdownInput li {
    background-color: var(--terminal-like-background-color);
    padding: 0.5rem;
    transition-duration: 0.25s;
    border: 2px solid var(--third-layer-background-color);
}

.dropdownInput li:hover {
    background-color: var(--insignificant-button-hover-color);
}

.dropdownInput li.selected {
    background-color: var(--insignificant-button-hover-color);
}

/* for numerical inputs */
.numberInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    align-items: center;
}

.numberInput p {
    display: block;
}

.numberInput label {
    display: grid;
    grid-template-columns: 2rem 2rem 1fr 2rem 2rem;
    column-gap: 0.5rem;
}

.numberInput input {
    width: 100%;
    padding: 0.5rem;
    font-family: var(--code-fragment-font);
    background-color: var(--terminal-like-background-color);
    border: 2px solid var(--third-layer-background-color);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.numberInput button {
    background-color: var(--insignificant-button-color);
    transition-duration: 0.2s;
    border: 3px solid var(--fourth-layer-background-color);
    border-radius: 0.5rem;
    font-size: 1rem;
}

.numberInput button:hover {
    background-color: var(--insignificant-button-hover-color);
}

/* for color inputs */
.colorInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    align-items: center;
}

.colorInput p {
    display: block;
}

.colorInput label {
    position: relative;
}

.falseSwatch {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--code-fragment-font);
    border-radius: 0.5rem;
    border: 1px solid;
}

.colorInput input {
    height: 2rem;
    width: 6rem;
    opacity: 0;
    margin: auto;
    display: block;
    border-radius: 0.5rem;
}
/* for checkbox inputs */
.checkboxInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.checkboxInput p {
    display: block;
}

.checkboxInput label {
    justify-self: center;
}

.checkboxInput input {
    width: 1rem;
    height: 1rem;
}

/* For radio inputs */
.radioInputs {
    margin: 1rem;
}

.radioInputs li {
    padding: 1rem;
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.radioButton {
    border: 0.25rem solid #888;
    width: 2rem;
    height: 2rem;
    border-radius: 1000px;
    background-color: var(--terminal-like-background-color);
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.radioButton div {
    background-color: #888;
    width: 1rem;
    height: 1rem;
    border-radius: 1000px;
    transition-duration: 0.25s;
}

/* For range inputs */
.rangeInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "desc slider";
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.rangeInputDescription {
    grid-area: desc;
    width: 100%;
    display: block;
    margin-left: 1rem;
}

.sliderAndValue {
    grid-area: slider;
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    align-items: center;
    column-gap: 1rem;
}

.sliderAndValue .lower {
    font-family: var(--code-fragment-font);
    padding: 0.5rem;
}

.sliderAndValue .higher {
    font-family: var(--code-fragment-font);
    padding: 0.5rem;
}

.slider {
    justify-self: center;
    position: relative;
    padding: 1rem;
    width: 100%;
}

.sliderTrack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: var(--terminal-like-background-color);
    height: 1rem;
    border: 1px solid var(--fourth-layer-background-color);
}

.sliderMinThumb {
    position: absolute;
    top: 50%;
    width: 0.5rem;
    height: 1.5rem;
    transform: translate(-100%, -50%);
    cursor: pointer;
    background-color: var(--significant-button-color);
    border: 2px solid var(--insignificant-button-color);
    border-radius: 1000px;
}

.sliderMaxThumb {
    position: absolute;
    top: 50%;
    width: 0.5rem;
    height: 1.5rem;
    transform: translate(0%, -50%);
    cursor: pointer;
    background-color: var(--significant-button-color);
    border: 2px solid var(--insignificant-button-color);
    border-radius: 1000px;
}

.selectedRange {
    background-color: var(--significant-button-color);
    height: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sliderMinThumb:hover, .sliderMaxThumb:hover {
    background-color: var(--significant-button-hover-color);
}

/* for pagination controller */
.paginationController {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.paginationController button {
    background-color: transparent;
    transition-duration: 0.25s;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
}

.paginationController button:hover {
    background-color: var(--insignificant-button-hover-color);
}

.paginationController button.selected {
    border: 2px solid var(--significant-button-color);
    color: var(--significant-button-color);
}

.paginationController button:disabled {
    cursor: not-allowed;
    background-color: transparent;
}

.paginationController button.skipPagesButton {
    color: #888;
}

.paginationController button.placeholderButton {
    opacity: 0;
    pointer-events: none;
}