.articleHeader {
    position: relative;
    height: 65vh;
    width: min(60vw, 40rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.articleHeader h1 {
    font-size: 4rem;
    text-align: center;
}

.tagBoxes {
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tagBox {
    border: 2px solid var(--fourth-layer-background-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.articleContent {
    width: min(60vw, 40rem);
    margin: 0 auto;
}