/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  /* --normal-text-font: 'PF Din Text Pro', 'sans-serif'; */
  /* Public layout variables */
  --public-background-opacity: 1;

  
  /* General game theme color */
  --background-color: #121212;
  --first-layer-background-color: #242424;
  --second-layer-background-color: #363636;
  --third-layer-background-color: #424242;
  --fourth-layer-background-color: #484848;
  --terminal-like-background-color: #1e1e1e;

  --confirmation-popup-background-color: #242424;
  
  /* Button colors */
  --significant-button-color: #007fff;
  --significant-button-hover-color: #0c5aa8;
  --significant-button-hover-heavier-color: #163d63;
  --insignificant-button-color: #363636;
  --insignificant-button-hover-color: #484848;

  /* Home navbar, user information UI component */
  --exp-bar-color: #007fff;
  --exp-bar-color-tail: #9ccdff;

  --code-fragment-font: monospace;
  --font-colour: #ccc;
  --font-colour-black: #222;
  --font-colour-hover: #777;

  /* Correct-wrong indicator */
  --correct-indicator-color: #42BE65;
  --wrong-indicator-color: #F82D37;
  --correct-on-hover-indicator-color: #086222;
  --wrong-on-hover-indicator-color: #92080F;

  --correct-indicator-text-color: var(--font-colour-black);
  --wrong-indicator-text-color: var(--font-colour);
  --correct-on-hover-indicator-text-color: var(--font-colour);
  --wrong-on-hover-indicator-text-color: var(--font-colour);
  
  /* Settings background color */
  --settings-option-bg-color: #242424;
  --settings-bg-color: #323232;
  --settings-bg-hover-color: #424242;
  --settings-option-border-color: #606060;

  /* z-index */
  --landing-z-index: 1;
  --login-signup-overlay-z-index: 2;
  --login-signup-z-index: 3;

  /* for GameMenu.tsx in home */
  --stylized-game-menu-button-z-index: 2;
  --stylized-game-menu-button-description-z-index: 1;
  --game-menu-tab-overlay-z-index: 3;
  --game-menu-tab-z-index: 4;

  /* the Monaco Editor minimap has z-index = 4. This value is just enough to allow an overlay over an editor during gameplay*/
  
  /* only for fullscreen editor */
  --gameplay-tab-overlay-z-index: 5;
  --gameplay-tab-z-index: 6; 

  /* strategy board in multiplayer */
  --strategy-board-overlay-z-index: 7;
  --strategy-board-z-index: 8;

  /* chatbox in multiplayer */
  --chatbox-overlay-z-index: 9;
  --chatbox-z-index: 10;

  --navbar-z-index: 15;
  --settings-z-index: 20;
  --popup-overlay-z-index: 30;
  --popup-z-index: 31;
}

/* global reset or common styles */
@font-face {
  font-family: 'HYWenHei';
  src: url('/fonts/zhcn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Pro';
  src: url("/fonts/PFDinTextPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Pro';
  src: url("/fonts/PFDinTextPro-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

body, p, h1, h2, h3, h4, h5, h6, button {
  font-family: 'PF Din Text Pro', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 767px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  #__next {
    display: none;
  }
}
