/* CSS for variable colours */
:root {
    --normal-text-font: 'PF Din Text Pro', 'sans-serif';
    
    --background-colour: #121212;
    --selected-first-layer-background-color: #242424;
    --first-layer-background-color: #484848;
    --second-layer-background-color: #606060;
    --terminal-like-background-color: #1e1e1e;
    
    --blue-button-color: #007fff;
    --blue-button-hover-color: #0560bc;
    --dark-button-color: #363636;
    --dark-button-hover-color: #484848;

    --code-fragment-font: monospace;
    --font-colour: #ccc;

    --screen-padding: 20px;
    --navbar-padding: 50px;

    --settings-tab-color: #121212;
    --settings-option-bg-color: #363636;
    --settings-option-bg-selected-color: #484848;
    --settings-option-border-color: #848484;

    --navbar-z-index: 15;
    --settings-z-index: 20;
    --qn-editor-z-index: 2;
    --output-tcpanel-z-index: 1;
}