/* CSS for variable colours */
:root {
    --normal-text-font: 'PF Din Text Pro', 'sans-serif';
    
    --background-color: #121212;
    --first-layer-background-color: #242424;
    --second-layer-background-color: #484848;
    --third-layer-bakground-color: #525252;
    --fourth-layer-background-color: #606060;
    --terminal-like-background-color: #1e1e1e;

    --confirmation-popup-background-color: #242424;
    
    --significant-button-color: #007fff;
    --significant-button-hover-color: #0560bc;
    --significant-button-hover-heavier-color: #163d63;
    --insignificant-button-color: #363636;
    --insignificant-button-hover-color: #484848;

    --exp-bar-color: #007fff;
    --exp-bar-color-tail: #9ccdff;

    --code-fragment-font: monospace;
    --font-colour: #ccc;
    --error-font-colour: #ff0000;
    --font-colour-hover: #999;

    --screen-padding: 20px;
    --navbar-padding: 50px;
    
    --settings-option-bg-color: #363636;
    --settings-bg-color: #484848;
    --settings-option-border-color: #848484;

    --styled-background-z-index: 0;
    --home-z-index: 1;
    --output-tcpanel-z-index: 3;
    --qn-editor-z-index: 5;
    --landing-z-index: 9;
    --login-signup-fs-z-index: 10;
    --login-signup-z-index: 11;
    --navbar-z-index: 15;
    --settings-z-index: 20;
    --prog-lang-dropdown-z-index: 22;
    --code-editor-font-z-index: 21;
    --hoverable-z-index: 25;
    --settings-button-z-index: 28;
    --key-binding-overlay-z-index: 30;
    --confirmation-popup-z-index: 30;
    --unsupported-z-index: 1000;
}