#portal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw);
    height: calc(100vh);
    z-index: var(--landing-z-index);
}

#portal-content {
    width: 50vw;
    height: fit-content;
}

#portal-container h1 {
    text-align: center;
}

#landing-login-button {
    background-color: var(--significant-button-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid var(--fourth-layer-background-color);
    bottom: 50px;
    transition-duration: 0.25s;
    margin: 1em auto;
    width: 10em;
    display: block;
}

#landing-login-button:hover {
    background-color: var(--significant-button-hover-color);
}

#landing-signup-button {
    background-color: var(--insignificant-button-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid var(--fourth-layer-background-color);
    bottom: 50px;
    transition-duration: 0.25s;
    margin: 1em auto;
    width: 10em;
    display: block;
}

#landing-signup-button:hover {
    background-color: var(--insignificant-button-hover-color);
}

/*
    Login, sign up pop-up styling
*/

.login-signup-fullscreen {
    z-index: --login-signup-fs-z-index;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: calc(100vh);
    opacity: 0.7;
}

@keyframes illuminating-border {
    to {
      --border-angle: 360deg;
      --border-angle-2: 540deg;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@property --border-angle-2 {
    syntax: "<angle>";
    inherits: true;
    initial-value: 180deg;
}

.login-signup-container-border {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(min(max(30vw, 400px), 600px));
    height: fit-content;
    padding: 1px;
    z-index: var(--login-signup-z-index);
    --border-angle: 0deg;
    --border-angle-2: 180deg;
    color: var(--foreground);
    border: 1px solid var(--third-layer-background-color);
    padding: 2px;
    display: flex;
    border-radius: 0.75em;
    background-color: transparent;
    background-image: conic-gradient(from var(--border-angle) at 50% 50%, 
                                    transparent, 
                                    var(--significant-button-color) 10%, 
                                    transparent 30%, 
                                    transparent),
                      conic-gradient(from var(--border-angle-2) at 50% 50%, 
                                    transparent, 
                                    var(--significant-button-color) 10%, 
                                    transparent 30%, 
                                    transparent);
    animation: illuminating-border 4s linear infinite;
    transition-duration: 0.25s;
}

.login-signup-container {
    position: relative;
    width: 100%;
    background-color: var(--first-layer-background-color);
    padding: 1em;
    border-radius: 0.60em;
    height: calc(60vh);
    overflow: auto;
}

.login-signup-container ul {
    margin: 0.5em 0 1em;
}

.login-signup-container::-webkit-scrollbar {
    display: none;
}

.login-signup-container h2, .login-signup-container h4 {
    text-align: center;
    margin: 0.75em auto;
}

.login-signup-container form {
    display: flex;
    flex-direction: column;
}

.login-signup-container input {
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0.25em;
    background-color: var(--second-layer-background-color);
    border: 2px solid var(--fourth-layer-background-color);
    border-radius: 3px;
    font-family: var(--code-fragment-font);
    transition: 0.25s;
}

.login-signup-container input:focus {
    outline: none;
}

.login-signup-container a {
    text-align: right;
    margin: 1em 0;
}

.login-signup-container a:hover {
    color: var(--font-colour-hover);
}

.authentication-field-guide {
    text-align: left;
    margin: 0 0 0 0.5em;
    font-weight: 600;
}

#login-password-label, #signup-password-label, #signup-confirm-password-label {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1.5em 1fr;
    column-gap: 1em;
}

#login-password-label p, #signup-password-label p, #signup-confirm-password-label p {
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    align-self: center;
    margin-left: 0.5em;
}

#login-password-label input, #signup-password-label input, #signup-confirm-password-label input {
    grid-row: 2;
    grid-column: 1;
}

#login-password-label button, #signup-password-label button, #signup-confirm-password-label button {
    font-family: var(--code-fragment-font);
    background-color: var(--insignificant-button-color);
    border-radius: 0.5em;
    height: 1.5em;
    border: 1px solid var(--fourth-layer-background-color);
    transition-duration: 0.25s;
    align-self: center;
    grid-column: 2;
    grid-row: 2;
}

#login-password-label button:hover, #signup-password-label button:hover, #signup-confirm-password-label button:hover {
    background-color: var(--insignificant-button-hover-color);
}

#login-button, #sign-up-button, 
#get-verification-code-button {
    background-color: var(--significant-button-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid var(--fourth-layer-background-color);
    bottom: 50px;
    transition-duration: 0.25s;
    margin: 0.5em 0;
    width: 100%;
}

#login-button:hover, #sign-up-button:hover, #get-verification-code-button:hover {
    background-color: var(--significant-button-hover-color);
}

#login-alternative-options {
    display: flex;
    justify-content: space-around;
}

.login-signup-options-separator {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.login-signup-options-separator span {
    height: 2px;
    background-color: var(--fourth-layer-background-color);
    align-self: center;
}

.login-signup-options-separator h4 {
    align-self: center;
}

.login-signup-alternative-options {
    display: flex;
    justify-content: space-around;
}

.login-signup-alternative-options button {
    background-color: var(--insignificant-button-color);
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--fourth-layer-background-color);
    transition-duration: 0.25s;
}

.login-signup-alternative-options button:hover {
    background-color: var(--insignificant-button-hover-color);
}

#login-close-button, #signup-close-button {
    border: none;
    background-color: transparent;
    font-size: 2em;
    top: 0;
    position: sticky;
    left: 100%;
}

#forget-password {
    cursor: pointer;
    text-align: right;
}

#forget-password:hover {
    text-decoration: underline;
}

#forgot-email-verification {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    column-gap: 0.75em;
}

.otp-input {
    font-size: 1.5em;
    grid-row: 2;
}

#key-in-code-guiding-text {
    grid-row: 1;
    grid-column: 1 / 7;
}

#check-verification-code-button {
    background-color: var(--significant-button-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid var(--fourth-layer-background-color);
    bottom: 50px;
    transition-duration: 0.25s;
    grid-column: 1 / 7;
    grid-row: 3;
}

#check-verification-code-button:hover {
    background-color: var(--significant-button-hover-color);
}