/* Test cases */
.testCases {
    height: 100%;
    overflow: hidden;
    grid-row: 2;
    display: grid;
    grid-template-rows: 3rem 1fr;
}

/* Code handler buttons */
.codeHandlerButtons {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid var(--fourth-layer-background-color);
}

.codeHandlerButtons button {
    font-size: 1rem;
}

.togglePanelButton, .runAllTestCasesButton {
    background-color: var(--insignificant-button-color);
    border: none;
    transition-duration: 0.25s;
    padding: 0 10px;
    font-weight: 600;
}

.togglePanelButton:hover, .runAllTestCasesButton:hover {
    background-color: var(--insignificant-button-hover-color);
}

.submitCodeButton {
    background-color: var(--significant-button-color);
    border: none;
    transition-duration: 0.25s;
    padding: 0 10px;
    font-weight: 600;
}

.submitCodeButton:hover {
    background-color: var(--significant-button-hover-color);
}

/* Code results: Test Case Panel and Output */
.codeResults {
    grid-row: 2;
    overflow: hidden;
}

/* Test case panel */
.testCasePanel {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: "selector results";
    transition-duration: 0.5s;
}

/* Test case selectors */

.testCaseSelector {
    grid-area: selector;
    list-style-type: none;
    height: calc(100%);
    overflow: auto;
    margin: 0;
    padding: 0;
}

.testCaseSelector::-webkit-scrollbar {
    width: 3px;
}

.testCaseSelector::-webkit-scrollbar-thumb {
    background-color: var(--fourth-layer-background-color);
}

.testCaseSelector li {
    padding: 10px;
    transition-duration: 0.25s;
    cursor: pointer;
}

/* Test case results */
.testCaseResults {
    background-color: var(--first-layer-background-color);
    grid-area: results;
    height: var(--test-case-panel-height);
    overflow: auto;
    padding: 0 10px;
}

.testCaseResults * {
    transition-duration: 0.25s;
}

.testCaseResults::-webkit-scrollbar {
    width: 3px;
}

.testCaseResults th {
    font-weight: 400;
    text-align: left;
    width: 60px;
    padding: 0px 7px 0px;
}

.testCaseResults table {
    width: 100%;
    padding: 5px 0;
    border-spacing: 0 5px;
    border-collapse: separate;
}

.testCaseResults p {
    margin: 0;
}

.testCaseResults pre {
    max-height: 5rem;
    overflow: auto;
}

.testCaseResults pre::-webkit-scrollbar {
    width: 2px;
}

.testCaseResults pre::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #606060;
}

.testCaseResults code {
    display: block;
    text-wrap: wrap;
}

.testCaseResults td {
    padding: 2px 0 2px 5px;
    background-color: var(--terminal-like-background-color);
    border: 2px solid var(--second-layer-background-color);
    border-radius: 0.25rem;
    height: 3rem;
    box-sizing: border-box;
    overflow: auto;
    justify-self: stretch;
}

.testCaseResults td::-webkit-scrollbar {
    width: 3px;
}

.testCaseResults td::-webkit-scrollbar-thumb {
    background-color: var(--second-layer-background-color);
}

/* Output mode */
.codeOutput {
    background-color: var(--terminal-like-background-color);
    transition-duration: 0.5s;
    padding: 0.5rem;
    font-family: var(--code-fragment-font);
}

.codeOutput code {
    display: block;
}

.codeOutput::-webkit-scrollbar {
    width: 3px;
}

.codeOutput::-webkit-scrollbar-thumb {
    background-color: var(--second-layer-background-color);
}