#main-menu {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: var(--home-z-index);
}

#main-menu-navbar {
    position: absolute;
    padding: 1em 0.5em;
    width: 100vw;
    border-bottom: 1px solid var(--first-layer-background-color);

    display: grid;
    grid-template-columns: 3fr 5fr 6fr 27fr 2fr;
    grid-template-rows: 2fr 1fr;
    row-gap: 0.5em;
    column-gap: 0.5em;
    grid-template-areas: 
    "image level username _ settings"
    "image exp username _ settings";
}

@property --exp-bar-border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

#main-menu-user-image {
    grid-area: image;
    padding: 4px;
    border-radius: 56px;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--fourth-layer-background-color);
    align-self: center;
    background-color: var(--second-layer-background-color);
    background-image: conic-gradient(from var(--exp-bar-border-angle) at 50% 50%, 
                                    transparent, 
                                    var(--exp-bar-color) 5%, 
                                    transparent 10%, 
                                    transparent);
    margin: 0 1em;
}

#image-wrapper {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
}

#main-menu-username {
    grid-area: username;
    margin: 0;
    align-self: center;
    justify-self: stretch;
    border-left: 1px solid var(--second-layer-background-color);
    padding: 0.5em 0 0.5em 0.5em;
}

#main-menu-user-level {
    grid-area: level;
    margin: 0;
    align-self: center;
    font-size: 1.5em;
}

#main-menu-user-exp {
    grid-area: exp;
    margin: 0;
}

#main-menu-user-exp-bar {
    grid-area: exp-bar;
    margin: 0;
}

#main-menu-settings {
    grid-area: settings;
    align-self: center;
}

#main-menu-settings img {
    width: 1.5em;
    filter: brightness(0) saturate(100%) invert(1) sepia(1) hue-rotate(200deg) saturate(5) brightness(1.2);
}

#main-menu-to-settings-button {
    background-color: transparent;
    border: none;
    padding: 1em;
}

#main-menu-selections {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: var(--insignificant-button-color);
}

#main-menu-selections button {
    padding: 5px 10px;
    font-size: 1.5em;
    padding: 1em;
    border: none;
}

.main-menu-insig-choice {
    background-color: var(--insignificant-button-color);
    padding: 5px 10px;
    transition-duration: 0.25s;
    font-size: 1.5em;
    padding: 1em;
}

.main-menu-insig-choice:hover {
    background-color: var(--insignificant-button-hover-color);
}

.main-menu-sig-choice {
    background-color: var(--significant-button-color);
    font-weight: 600;
    transition-duration: 0.25s;
}

.main-menu-sig-choice:hover {
    background-color: var(--significant-button-hover-color);
}