/* Overall Home Layout */
.home {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto 4fr 1fr;
    grid-template-areas:
        "nav nav nav nav nav nav nav nav nav"
        "evt inf inf inf inf inf inf gam gam"
        ". . . . . . mess mess mess";
}

/* Home navbar */
.homeNavbar {
    display: grid;
    grid-area: nav;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    height: 100%;
    background-color: var(--first-layer-background-color);
}

.userInfo {
    display: grid;
    margin: 1rem;
    grid-template-columns: 3.2rem 15rem 6rem;
    grid-template-rows: 3.2rem;
    padding: 0.1rem;
    align-items: stretch;
    column-gap: 0.5rem;
    background-color: var(--terminal-like-background-color);
    width: fit-content;
}

.profilePicContainer {
    border: 0.1rem solid var(--third-layer-background-color);
}

.usernameLevelExp {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.usernameLevelExp p {
    display: block;
    height: 100%;
}

.expBarWithLevel {
    display: grid;
    height: 100%;
    grid-template-columns: 2em 1fr 2em;
    column-gap: 2px;
}

.expBarWithLevel span {
    display: block;
    text-align: center;
}

.expBarWithLevel span:first-of-type {
    background-color: #0077ff;
}

.expBarWithLevel span:last-of-type {
    background-color: var(--first-layer-background-color);
}

.expBarTotal {
    background-color: var(--first-layer-background-color);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.expBarAcquired {
    height: 100%;
    background-color: #0077ff;
    overflow: hidden;
}

@keyframes runningExpBar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.expBarRunner {
    animation: runningExpBar 5s linear infinite;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #0077ff, rgb(111, 166, 206));
}

.rank {
    background-color: brown;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank p {
    display: block;
}

.inventory,
.clan {
    font-size: 1.2rem;
    transition-duration: 0.25s;
    border: none;
    background-color: var(--first-layer-background-color);
    height: 100%;
}

.inventory:hover,
.clan:hover {
    background-color: var(--fourth-layer-background-color);
}

.inventory:disabled,
.clan:disabled {
    cursor: not-allowed;
}

.inventory:disabled:hover,
.clan:disabled:hover {
    background-color: var(--first-layer-background-color);
}

.toSettings {
    background-color: transparent;
    border: none;
}

.toSettings img {
    filter: brightness(0) saturate(100%) invert(1) sepia(1) hue-rotate(200deg) saturate(5) brightness(1.2);
    scale: 1.5;
}

.toSettings:hover img {
    filter: brightness(0) saturate(100%) invert(0.6) sepia(1) saturate(0) brightness(0.8);
}

/* Event menu: A set of buttons that leads to temporary/rotating content */
.eventMenu {
    grid-area: evt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stylizedEventMenuButton {
    position: relative;
}

.stylizedEventMenuButton button {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    background-color: var(--insignificant-button-hover-color);
    z-index: var(--stylized-game-menu-button-z-index);
    border: 1px solid #888;
}

.stylizedEventMenuButtonDescription {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.25s;
    z-index: var(--stylized-game-menu-button-description-z-index);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5em;
}

.stylizedEventMenuButtonOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 0.25s;
    z-index: var(--stylized-game-menu-button-z-index);
}

.stylizedEventMenuButton:hover .stylizedEventMenuButtonOverlay {
    width: 0%;
}

.stylizedEventMenuButton:hover .stylizedEventMenuButtonDescription {
    left: 100%;
}

.stylizedEventMenuButton button:hover {
    cursor: pointer;
}

/* News carousel */
.newsCarousel {
    grid-area: inf;
    display: grid;
    padding: 4rem;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 1fr 3rem;
    grid-template-areas:
        "left tab right"
        ". indicators .";
    column-gap: 1rem;
}

.newsCarousel button {
    background-color: var(--insignificant-button-color);
    opacity: 0.25;
    transition-duration: 0.25s;
    border: none;
}

.newsCarousel button:hover {
    background-color: var(--insignificant-button-hover-color);
}

.leftButton {
    grid-area: "left";
    display: block;
}

.rightButton {
    grid-area: "right";
    display: block;
}

.allNewsTabs {
    grid-area: "tab";
    display: flex;
    overflow: hidden;
}

.allNewsTabs div {
    flex: 0 0 100%;
    height: 100%;
    background-color: var(--second-layer-background-color);
}

.newsTab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.indicators {
    grid-area: indicators;
    display: flex;
    justify-content: center;
}

.indicator {
    background-color: #aaa;
    aspect-ratio: 1 / 1;
    border-radius: 1000px;
    margin: 1rem;
    transition-duration: 0.25s;
}

/* Game menu: a set of buttons that leads to game modes and permanent features */
.gameMenu {
    grid-area: gam;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stylizedGameMenuButton {
    position: relative;
}

.stylizedGameMenuButton button {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    background-color: var(--insignificant-button-hover-color);
    z-index: var(--stylized-game-menu-button-z-index);
    border: 1px solid #888;
}

.stylizedGameMenuButtonDescription {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.25s;
    z-index: var(--stylized-game-menu-button-description-z-index);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5em;
    overflow-y: auto;
}

.stylizedGameMenuButtonOverlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 0.25s;
    z-index: var(--stylized-game-menu-button-z-index);
}

.stylizedGameMenuButton:hover .stylizedGameMenuButtonOverlay {
    width: 0%;
}

.stylizedGameMenuButton:hover .stylizedGameMenuButtonDescription {
    left: -100%;
}

.stylizedGameMenuButton button:hover {
    cursor: pointer;
}

/* Chat panel */
.chatPanel {
    grid-area: mess;
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "message message message message"
        "b1 b2 b3 b4";
    min-width: 350px;
}

.messagesBox {
    grid-area: message;
    border: 1px solid white;
    background-color: var(--terminal-like-background-color);
}

.worldChatButton {
    grid-area: b1;
}

.clanChatButton {
    grid-area: b2;
}

.teamChatButton {
    grid-area: b3;
}

.pmChatButton {
    grid-area: b4;
}

/* Game menu tabs */
.gameMenuTabOverlay {
    position: fixed;
    z-index: var(--game-menu-tab-overlay-z-index);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Arcade Mode */
.arcadeModeTab {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: var(--first-layer-background-color);
    z-index: var(--game-menu-tab-z-index);
    color: var(--font-colour-hover);

    display: grid;
    grid-template-columns: 1.5rem 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
    padding: 1rem;
    grid-template-areas:
        "bar options play"
        "bar modes play";
}

.gameModeView {
    grid-template-areas:
        "bar options play"
        "bar modes play";
}

.questionView {
    grid-template-areas:
        "bar options play"
        "bar options play";
}

.arcadeModeTab .verticalBar {
    grid-area: bar;
    width: 0.5rem;
    border: none;
    border-radius: 1000px;
    background-color: #888;
}

.arcadeModeOptions {
    grid-area: options;
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
    overflow-y: hidden;
}

.arcadeModeTab header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 1rem;
    align-items: center;
}

.arcadeModeTab header h1 {
    justify-self: center;
}

.arcadeModeTab header span {
    height: 3px;
    width: 100%;
    background-color: var(--font-colour);
}

.arcadeModeOption {
    transition-duration: 0.25s;
}

.arcadeModeOption:hover {
    color: var(--font-colour);
}

.arcadeGameModes {
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
    overflow-y: hidden;
}

.arcadeGameModes ul {
    grid-area: modes;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    list-style: none;
}

.arcadeGameModes li {
    border: 3px solid var(--fourth-layer-background-color);
    padding: 1rem;
    border-radius: 1rem;
    transition-duration: 0.25s;
    cursor: pointer;
}

.arcadeGameModes li:hover {
    background-color: var(--second-layer-background-color);
}

.arcadeGameModes li.selected {
    color: var(--font-colour);
    background-color: var(--second-layer-background-color);
}

.arcadeGameModes h2 {
    margin-bottom: 1rem;
}

.arcadeModeDescriptionAndAction {
    grid-area: play;

    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;
}

.arcadeModeDescription {
    padding: 1rem;
    background-color: var(--terminal-like-background-color);
    width: 100%;
    overflow-y: auto;
    border: 1px solid var(--settings-option-border-color);
    font-family: var(--code-fragment-font);
    height: 100%;
}

.arcadeModeDescription p {
    color: var(--font-colour);
    font-family: var(--code-fragment-font);
}

.arcadeModeActions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.arcadeModeActions button {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    transition-duration: 0.25s;
}

.arcadeModeActions button:disabled {
    cursor: not-allowed;
}

.arcadeModeActions button.goBackButton,
.arcadeModeActions button.luckyButton {
    background-color: var(--insignificant-button-color);
}

.arcadeModeActions button.goBackButton:hover,
.arcadeModeActions button.luckyButton:hover {
    background-color: var(--insignificant-button-hover-color);
}

.arcadeModeActions button.playButton,
.arcadeModeActions button.selectModeButton {
    background-color: var(--significant-button-color);
}

.arcadeModeActions button.playButton:hover,
.arcadeModeActions button.selectModeButton:hover {
    background-color: var(--significant-button-hover-color);
}

.arcadeModeTab .container {
    height: 100%;
    padding: 0.5rem;
    overflow-y: auto;
}

.questionList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.questionList::-webkit-scrollbar {
    width: 5px;
}

.questionList::-webkit-scrollbar-thumb {
    background-color: var(--second-layer-background-color);
}

.arcadeModeTab .container::-webkit-scrollbar,
.arcadeModeTab .questionContainer::-webkit-scrollbar {
    width: 5px;
}

.arcadeModeTab .container::-webkit-scrollbar-thumb,
.arcadeModeTab .questionContainer::-webkit-scrollbar-thumb {
    background-color: var(--second-layer-background-color);
    border-radius: 10px;
}

.questionListWithPagination {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 0.5rem;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.questionList {
    width: 100%;
}

.questionItem {
    display: grid;
    width: 100%;
    padding: 0.5rem;
    grid-template-columns: 1fr 4fr 1fr;
    border-radius: 0;
    border: 0;
    transition-duration: 0.25s;
    font-size: 1rem;
    height: 2.5rem;
    box-sizing: border-box;
    height: fit-content;
}

.questionList li:nth-child(odd) .questionItem {
    background-color: var(--insignificant-button-color);
}

.questionList li:nth-child(even) .questionItem {
    background-color: transparent;
}

.questionList li.selected .questionItem,
.questionItem:hover {
    border: 0.1rem solid var(--significant-button-color);
    background-color: var(--significant-button-hover-heavier-color);
}

.questionTitle {
    text-align: left;
    padding-left: 1rem;
}