* :not(code):not(#code-editor *) {
    color: var(--font-colour);
    font-family: var(--normal-text-font);
}

code {
    font-family: var(--code-fragment-font);
    background-color: var(--terminal-like-background-color);
    /* padding: 3px; */
    font-weight: 400;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

button:hover {
    cursor: pointer;
}

/* Gameplay navigation bar styling */

#gameplay-navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #484848;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#gameplay-settings {
    grid-column: 1;
    position: relative;
}

#gameplay-settings button {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 30px;
    background-color: #727272;
    border: 1px solid #242424;
    padding: 5px 10px;
    border-radius: 5px;
    transition-duration: 0.25s;
}

#gameplay-settings button:hover {
    background-color: #888;
}

#gameplay-navbar #countdown-timer {
    grid-column: 2;
    place-self: center;
}

/* Main game screen styling */
#entire-gameplay-screen {
    display: grid;
    grid-template-rows: var(--navbar-padding) var(--screen-padding) 1fr var(--screen-padding);
    grid-template-columns: var(--screen-padding) 1fr var(--screen-padding);
    width: 100%;
    height: 100%;
}

#gameplay {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

:root {
    --gameplay-screen-padding: calc(100vh - var(--screen-padding) - var(--screen-padding) - var(--navbar-padding));
    --editor-height: calc(var(var(--gameplay-screen-padding)) * 5 / 7);
    --executor-height: calc(var(--gameplay-screen-padding) * 2 / 7);
    --output-height: calc(var(--executor-height) - 50px);
    --test-case-panel-height: calc(var(--output-height));
    --test-case-results-frame-height: calc(var(--test-case-panel-height) * 0.2);
}

/* Question component styling */
#question {
    background-color: var(--first-layer-background-color);
    height: var(--gameplay-screen-padding);
    overflow: scroll;
    padding: 20px;
    border-right: 1px solid var(--second-layer-background-color);

}

#question::-webkit-scrollbar {
    width: 5px;
}

#question::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 10px;
}

#question .example {
    background-color: var(--second-layer-background-color);
    margin: 1px;
    padding: 1px 15px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 19fr;
    grid-template-rows: 1fr 13fr 1fr;
}

#question .example .decorator-line {
    grid-column: 1;
    grid-row: 2;
    border: 2px solid #848484;
    width: 0;
    border-radius: 10px;
}

#question .example .example-content {
    grid-column: 2;
    grid-row: 1 / 3;
}

#question .example span {
    font-family: var(--code-fragment-font);
    background-color: var(--terminal-like-background-color);
    padding: 3px;
    font-weight: 400;
    width: 100%;
    display: block;
}

/* Code handler */
#code-handler {
    display: grid;
    height: 100%;
    grid-template-rows: 5fr 2fr;
    height: var(--gameplay-screen-padding);
}

#code-editor {
    /* border-bottom: 1px solid #606060; */
    margin-bottom: 0px;
    grid-row: 1;
    min-width: 0;
    height: calc(var(--gameplay-screen-padding) * 5 / 7);
    position: inherit;
    z-index: 2;
}

#code-executor {
    background-color: var(--terminal-like-background-color);
    grid-row: 2;
    min-width: 0;
    height: calc(var(--gameplay-screen-padding) * 2 / 7);
    position: relative;
}

/* Test case buttons styling */

#code-executor #test-case-buttons {
    display: grid;
    height: 50px;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    grid-area: buttons;
    position: inherit;
    z-index: 2;
}

#code-executor #code-output, #test-case-panel {
    position: inherit;
    z-index: 1;
}

#code-executor button {
    background-color: var(--dark-button-color);
    height: 100%;
    border: none;
    transition-duration: 0.25s;
    padding: 0 10px;
    font-weight: 600;
}

#code-executor button#submit {
    background-color: var(--blue-button-color);
    font-size: 1.1rem;
    color: white;
}

#code-executor button:hover {
    background-color: var(--dark-button-hover-color);
}

#code-executor button#submit:hover {
    background-color: var(--blue-button-hover-color);
}

#code-executor #output-and-test-cases {
    transition-duration: 0.5s;
}

/* Test case panel styling */

#test-case-panel {
    display: grid;
    height: var(--test-case-panel-height);
    grid-template-columns: 2fr 7fr;
    grid-template-areas: "selector results";
    border-bottom: 1px solid var(--second-layer-background-color);
    transition-duration: 0.5s;
}

#test-case-selector {
    grid-area: selector;
    list-style-type: none;
    height: var(--test-case-panel-height);
    overflow: auto;
    margin: 0;
    padding: 0;
}

#test-case-selector::-webkit-scrollbar {
    width: 3px;
}

#test-case-selector::-webkit-scrollbar-thumb {
    background-color: var(--second-layer-background-color);
}

#test-case-selector li {
    background-color: var(--first-layer-background-color);
    padding: 10px;
    transition-duration: 0.25s;
    cursor: pointer;
}

#test-case-selector li:hover {
    background-color: var(--selected-first-layer-background-color);
}

#test-case-selector li.active {
    background-color: var(--selected-first-layer-background-color);
}

#test-case-results {
    background-color: #242424;
    grid-area: results;
    height: var(--test-case-panel-height);
    overflow: auto;
    padding: 0 10px;
}

#test-case-results::-webkit-scrollbar {
    width: 3px;
}

#test-case-results::-webkit-scrollbar-thumb {
    background-color: var(--first-layer-background-color);
}

#test-case-results tbody {
    height: var(--test-case-panel-height);
    overflow: auto;
}

#test-case-results tr, th {
    padding: 0;
    height: var(--test-case-results-frame-height);
}

#test-case-results th {
    font-weight: 400;
    text-align: left;
    width: 60px;
    padding: 0px 7px 0px;
}

#test-case-results p {
    margin: 0;
}

#test-case-results pre {
    margin: 0;
}

#test-case-results code {
    display: block;
    height: fit-content;
    max-height: calc(var(--test-case-panel-height) / 2);
}

#test-case-results td {
    padding: 2px 0 2px 5px;
    background-color: var(--terminal-like-background-color);
    border: 1px solid var(--first-layer-background-color);
    border-radius: 3px;
    box-sizing: border-box;
    overflow: auto;
}

#test-case-results td::-webkit-scrollbar {
    width: 3px;
}

#test-case-results td::-webkit-scrollbar-thumb {
    background-color: var(--first-layer-background-color);
}

/* Output styling */
#code-output {
    height: var(--output-height);
    background-color: var(--terminal-like-background-color);
    padding: 1%;
    box-sizing: border-box;
    font-family: var(--code-fragment-font) !important;
}